@model SMUModels.TblUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";

    SMUModels.admin_SMUniversityEntities _Context = new SMUModels.admin_SMUniversityEntities();

}
<script src="~/Scripts/User/Edit.js"></script>
<input type="hidden" id="txtUserPermissions" value="@ViewBag.UserPermissions" />

<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header">تعديل مستخدم</h3>
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
                    <li><a href="/User/Index">الرئيسية</a></li>
                    <li class="active"><a href="/User/Edit">تعديل مستخدم</a></li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">تعديل مستخدم</h3>
                    </div>
                    <form id="EditUser" action="/User/Edit" method="post" class="form-horizontal ls_form" enctype='multipart/form-data'>
                        <input type="hidden" name="UserID" value="@Model.ID" />

                        <div class="panel-body form_view">
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المستخدم عربي</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               id="NameAr" name="NameAr" placeholder="ادخل اسم المستخدم عربي" value="@Model.NameAr" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المستخدم إنجليزي</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               id="NameEn" name="NameEn" placeholder="ادخل اسم المستخدم إنجليزي" value="@Model.NameEn" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">رقم الهاتف</label>
                                    <div class="col-md-10">
                                        <input type="tel"
                                               class="form-control validate[required] text-input"
                                               id="PhoneNumber" name="PhoneNumber" placeholder="ادخل رقم الهاتف" value="@Model.PhoneNumber" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">البريد الإلكتروني</label>
                                    <div class="col-md-10">
                                        <input type="email"
                                               class="form-control validate[required] text-input"
                                               id="Email" name="Email" placeholder="ادخل البريد الإلكتروني" value="@Model.Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المستخدم</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               value="@Model.TblUserCredential.UserName" disabled readonly>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">الرقم السري</label>
                                    <div class="col-md-10">
                                        <input type="password"
                                               class="form-control validate[required] text-input"
                                               id="Password" name="Password" placeholder="ادخل الرقم السري" value="@Model.TblUserCredential.Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">الفرع</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="BranchID" name="BranchID" required>
                                            <option value="0">الفرع</option>
                                            @foreach (var branch in ViewBag.Branches)
                                            {
                                                if (branch.ID != Model.BranchID)
                                                {
                                                    <option value="@branch.ID">@branch.NameAr</option>
                                                }
                                                else
                                                {
                                                    <option value="@branch.ID" selected>@branch.NameAr</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">فئة المستخدم</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="UserCategoryID" name="UserCategoryID" required>
                                            <option value="0">فئة المستخدم</option>
                                            @foreach (var userCat in ViewBag.UserCategories)
                                            {
                                                if (userCat.ID != Model.UserCategoryID)
                                                {
                                                    <option value="@userCat.ID">@userCat.NameAr</option>
                                                }
                                                else
                                                {
                                                    <option value="@userCat.ID" selected>@userCat.NameAr</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="row ls_divider">
                                @foreach (var item in ViewBag._PermissionCats)
                                {
                                    int id = item.ID;
                                    <div class="col-lg-4">
                                        <div class="form-group">
                                            <label>@item.NameAr</label>
                                            <div class="input-group">
                                                <div class="icheck-list">
                                                    @foreach (var per in _Context.TblPermissions.Where(a => a.PermissionCategoryID == id).ToList())
                                                    {
                                                        <label style="display: block;">
                                                            <input type="checkbox" class="icheck" value="@per.ID" id="UserPermissions" name="UserPermissions" data-checkbox="icheckbox_square-grey">   @per.NameAr
                                                        </label>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                }

                            </div>

                            <br />
                            <br />
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h3 class="panel-title"><i class="fa fa-upload"></i> تحميل صورة المستخدم</h3>
                                </div>
                                <div class="panel-body">
                                    <section id="ls-wrapper">
                                        <!--Image Drop & Upload Wrapper Start-->
                                        <div id="droparea">
                                            <div class="dropareainner">
                                                <p class="dropfiletext">انزل ملف هنا</p>
                                                <p>او</p>
                                                <!--Upload Select Button-->
                                                <p>
                                                    <input id="uploadbtn" class="uploadbtn" type="button" value="اختر ملف">
                                                </p>


                                                <!--Image Effect Finish-->
                                                <p id="err">تم التحميل اي كلام وكدة يعني (:</p>
                                            </div>
                                            <!--Image Upload Input-->
                                            <input id="upload" name="Picture" type="file" multiple />
                                        </div>
                                        <!--Image Drop & Upload Wrapper Finish-->
                                        <p class="message"> حجم الملف <strong>400</strong>فقط</p>
                                        <!--Upoload Image Preview Wrap Start-->
                                        <div id="result">
                                            <!--Upoload Image Preview Wrap Finish-->
                                        </div>
                                    </section>
                                </div>
                            </div>
                            <div class="form-group" style=" margin: 20px 30px 40px 50px; ">
                                <button class="submit btn-primary btn" type="submit" name="submit">حفظ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
