@model SMUModels.TblUser
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header">تعديل مستخدم</h3>
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
                    <li><a href="/User/Index">الرئيسية</a></li>
                    <li class="active"><a href="/User/Edit">تعديل مستخدم</a></li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">تعديل مستخدم</h3>
                    </div>
                    <form id="EditUser" action="/User/Edit" method="post" class="form-horizontal ls_form" enctype='multipart/form-data'>
                        <input type="hidden" name="UserID" value="@Model.ID" />

                        <div class="panel-body form_view">
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المستخدم عربي</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               id="NameAr" name="NameAr" placeholder="ادخل اسم المستخدم عربي" value="@Model.NameAr" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المستخدم إنجليزي</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               id="NameEn" name="NameEn" placeholder="ادخل اسم المستخدم إنجليزي" value="@Model.NameEn" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">رقم الهاتف</label>
                                    <div class="col-md-10">
                                        <input type="tel"
                                               class="form-control validate[required] text-input"
                                               id="PhoneNumber" name="PhoneNumber" placeholder="ادخل رقم الهاتف" value="@Model.PhoneNumber" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">البريد الإلكتروني</label>
                                    <div class="col-md-10">
                                        <input type="email"
                                               class="form-control validate[required] text-input"
                                               id="Email" name="Email" placeholder="ادخل البريد الإلكتروني" value="@Model.Email" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">اسم المستخدم</label>
                                    <div class="col-md-10">
                                        <input type="text"
                                               class="form-control validate[required] text-input"
                                               id="UserName" name="UserName" placeholder="ادخل اسم المستخدم" value="@Model.TblUserCredential.UserName" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">الرقم السري</label>
                                    <div class="col-md-10">
                                        <input type="password"
                                               class="form-control validate[required] text-input"
                                               id="Password" name="Password" placeholder="ادخل الرقم السري" value="@Model.TblUserCredential.Password" required>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">الفرع</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="BranchID" name="BranchID" required>
                                            <option value="0">الفرع</option>
                                            @foreach (var branch in ViewBag.Branches)
                                            {
                                                if (branch.ID != Model.BranchID)
                                                {
                                                    <option value="@branch.ID">@branch.NameAr</option>
                                                }
                                                else
                                                {
                                                    <option value="@branch.ID" selected>@branch.NameAr</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row ls_divider">
                                <div class="form-group">
                                    <label class="col-md-2 control-label">فئة المستخدم</label>
                                    <div class="col-md-10">
                                        <select class="form-control" id="UserCategoryID" name="UserCategoryID" required>
                                            <option value="0">فئة المستخدم</option>
                                            @foreach (var userCat in ViewBag.UserCategories)
                                            {
                                                if (userCat.ID != Model.UserCategoryID)
                                                {
                                                    <option value="@userCat.ID">@userCat.NameAr</option>
                                                }
                                                else
                                                {
                                                    <option value="@userCat.ID" selected>@userCat.NameAr</option>
                                                }
                                            }
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group" style=" margin: 20px 30px 40px 50px; ">
                                <button class="submit btn-primary btn" type="submit" name="submit">حفظ</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
