@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SMUModels.admin_SMUniversityEntities _Context = new SMUModels.admin_SMUniversityEntities();
}



<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
@*<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/buttons.html5.min.js"></script>

<input type="hidden" id="StudentID" />

<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header"></h3>
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
                    <li class="active"><a href="/Student/Index">الطلاب</a></li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <table id="myDataTable" class="table table-striped table-bordered table-hover display">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>الصوره</th>
                                <th>الأسم</th>
                                <th>رقم التليفون</th>
                                <th>البريد الإلكتروني</th>
                                <th>الرصيد</th>
                                <th>مٌفعل؟</th>
                                <th>تاريخ الإنشاء</th>
                                <th>الأدوات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _Context.TblStudents.Where(a => a.IsDeleted != true).OrderByDescending(a => a.ID).ToList())
                            {
                                //string Picture = item.ProfilePic.StartsWith("http://") ? item.ProfilePic : "http://smuapitest.smartmindkw.com" + item.ProfilePic;
                                string Picture = "";
                                if (item.ProfilePic != null)
                                {
                                    if (item.ProfilePic.StartsWith("https://"))
                                    {
                                        Picture = item.ProfilePic;
                                    }
                                    else
                                    {
                                        Picture = "http://smuapitest.smartmindkw.com" + item.ProfilePic;
                                    }
                                }
                                else
                                {
                                    Picture = "https://uni.smartmindkw.com/Content/Images/Student/DefaultStudentPhoto.png";
                                }
                                string Verified = item.Verified ? "نعم" : "لا";
                                <tr>
                                    <td>@item.ID</td>
                                    <td>
                                        <img src='@Picture' width='107' height='75'>
                                    </td>
                                    <td>@item.FirstName @item.SecondName @item.ThirdName</td>
                                    <td>@item.PhoneNumber</td>
                                    <td>@item.Email</td>
                                    <td><span class="label label-success">@item.Balance KD</span></td>
                                    <td>@Verified</td>
                                    <td>@item.CreatedDate.ToString("yyyy-MM-dd hh:mm tt")</td>
                                    <td>
                                        <a href="@Url.Action("Edit", "Student", new { StudentID = item.ID })" class="btn btn-xs btn-warning" title="تعديل الطالب" id="btnEditStudent"><i class="fa fa-pencil-square-o"></i></a>
                                        @*<a href="@Url.Action("Delete", "Student", new { StudentID = item.ID })" class="btn btn-xs btn-danger" title="حذف الطالب" id="btnDeleteStudent"><i class="fa fa-minus"></i></a>*@
                                        <a href="javascript:showModal('@item.ID','@item.FirstName')" class="btn btn-xs btn-danger" id="DeleteStudent_@item.ID"><i class="fa fa-trash-o"></i></a>
                                        <a href="javascript:showReChargeBalanceModal('@item.ID')" class="btn btn-xs btn-success" id="ReChargeBalance_@item.ID">شحن الرصيد</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="remodal label-red white" data-remodal-id="reModalRed2">
    <h3>شحن الرصيد</h3>
    <div class="form-group">
        <label class="col-md-2 control-label">شحن الرصيد</label>
        <div class="col-md-12">
            <input type="number"
                   class="form-control validate[required] text-input"
                   id="BalanceValue" name="BalanceValue" placeholder="ادخل مبلغ الشحن">
            <br />
        </div>
    </div>
    <a class="remodal-cancel btn-danger btn" href="#">Cancel</a>
    <a class="remodal-confirm ls-light-green-btn btn" id="btnRechargeBalance">Add</a>
</div>

<script>
    function showModal(ID, Name) {
        debugger
        //$('#submitModalRequest').hide();
        //$('.remodal-cancel').text('Close');

        $('#HModalTitle').text('حذف الطالب ' + Name);
        $('#PModalBody').text('سيتم الحذف فقط اذا كان الطالب غير مرتبط ببيانات خاصه بالحضور والغياب والتعاملات الماليه و شكاوي الطلبه والأشتراكات والحصص الخاصه ');
        $("#DeleteStudent_" + ID).attr("href", "#reModalRed");
        $('#StudentID').val(ID);
        clickOnModal(ID);

        return false;
    }

    function clickOnModal(ID) {
        var href = $('#DeleteStudent_' + ID).attr('href');
        window.location.href = href; //causes the browser to refresh and load the requested url
        return false;
    }

    function showReChargeBalanceModal(ID) {
        debugger
        $("#ReChargeBalance_" + ID).attr("href", "#reModalRed2");
        $('#StudentID').val(ID);
        clickOnModal(ID);
        return false;
    }

    function clickOnModal(ID) {
        var href = $('#ReChargeBalance_' + ID).attr('href');
        window.location.href = href; //causes the browser to refresh and load the requested url
        return false;
    }

    $('#btnRechargeBalance').click(function () {
        $.ajax({
            type: "POST",
            url: '/Student/RechargeBalance',
            cache: false,
            contentType: "application/json; charset=utf-8",
            data: "{StudentID:'" + $('#StudentID').val() +
                "', BalanceValue:'" + $('#BalanceValue').val() +
                "'}",
            dataType: "json",
            processData: false,
            success: function (response) {
                location.reload();
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
        return false;
    });

    $(document).on('confirm', '.remodal', function () {
        debugger
        $.ajax({
            type: "POST",
            url: "/Student/Delete",
            cache: false,
            contentType: "application/json; charset=utf-8",
            data: "{StudentID:'" + $('#StudentID').val() +
                "'}",
            dataType: "json",
            processData: false,
            success: function (response) {
                debugger
                location.reload();
            },
            failure: function (errMsg) {
                alert(errMsg);
            }
        });
    });
</script>



