
@{
    ViewBag.Title = "LecturesByPercentageList";
    Layout = "~/Views/Shared/_Layout.cshtml";
    SMUModels.admin_SMUniversityEntities _Context = new SMUModels.admin_SMUniversityEntities();
}

<link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Content/DataTables/css/buttons.dataTables.min.css" rel="stylesheet" />

<script src="~/Scripts/DataTables/jquery.dataTables.js"></script>
<script src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>
@*<script src="~/Scripts/DataTables/dataTables.buttons.min.js"></script>*@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
<script src="~/Scripts/DataTables/but@*t*@ons.html5.min.js"></script>


<div id="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <!--Top header start-->
                <h3 class="ls-top-header"></h3>
                <!--Top header end -->
                <!--Top breadcrumb start -->
                <ol class="breadcrumb">
                    <li><a href="/Home/Index"><i class="fa fa-home"></i></a></li>
                    <li class="active"><a href="/Session/Index">المحاضرات</a></li>
                </ol>
                <!--Top breadcrumb start -->
            </div>
        </div>
        <!-- Main Content Element  Start-->

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title"></h3>
                    </div>
                    <table id="myDataTable" class="table table-striped table-bordered table-hover display">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>QRCode</th>
                                <th>الصوره</th>
                                <th>كود المحاضره</th>
                                <th>اسم المحاضره</th>
                                <th>اسم المحاضر</th>
                                <th>السعر الأول</th>
                                <th>السعر الثاني</th>
                                <th>السعر الثالث</th>
                                <th>القاعه</th>
                                <th>من</th>
                                <th>الي</th>
                                <th>تاريخ الإنشاء</th>
                                <th>الأدوات</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in _Context.TblSessions.Where(a => a.Type == true && a.LecturerAccountMethod == 2 && a.IsDeleted != true).OrderByDescending(a => a.ID).ToList())
                            {
                                var SessionDetails = _Context.TblSessionDetails.Where(a => a.SessionID == item.ID).FirstOrDefault();
                                string Picture = "http://smuapitest.smartmindkw.com" + item.Picture;
                                string QRCode = "http://smuapitest.smartmindkw.com" + SessionDetails.QRCode;
                                <tr>
                                    <td>@item.ID</td>
                                    <td><img src='@QRCode' width='107' height='75'></td>
                                    @*<td><a class='image-popup-no-margins' href='@QRCode'><img src='@QRCode' width='107' height='75'></a></td>*@
                                    <td><img src='@Picture' width='107' height='75'></td>
                                    @*<td><a class='image-popup-no-margins' href='@Picture'><img src='@Picture' width='107' height='75'></a></td>*@
                                    <td>@item.SessionCode</td>
                                    <td>@item.Name</td>
                                    <td>@item.TblLecturer.FirstNameAr @item.TblLecturer.SecondNameAr @item.TblLecturer.ThirdNameAr</td>
                                    <td><span class="label label-success">@SessionDetails.Price1 KD</span></td>
                                    <td><span class="label label-success">@SessionDetails.Price2 KD</span></td>
                                    <td><span class="label label-success">@SessionDetails.Price3 KD</span></td>
                                    <td>@item.TblHall.HallCodeAr</td>
                                    <td>@item.FromDate.ToString("yyyy-MM-dd")</td>
                                    <td>@item.ToDate.ToString("yyyy-MM-dd")</td>
                                    <td>@item.CreatedDate.ToString("yyyy-MM-dd hh:mm tt")</td>
                                    <td>
                                        <a href="@Url.Action("GetSessionStudents", "Session", new { SessionID = item.ID })" class="btn btn-xs btn-success" title="عرض الطلبه" id="btnViewSessionStudents"><i class="fa fa-eye fa-lg"></i></a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>